.container {
  display: flex;
  align-items: flex-start;
  margin-left: 60px;
  margin-top: 30px;
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #ffffff, #f1f1f1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.userListContainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-right: 2px solid #e0e0e0;
  padding-right: 20px;
}

.userItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.userItem:hover {
  transform: scale(1.02); 
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userDetailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin-top: 30px;
  margin-left: 55px;
  background: linear-gradient(135deg, #c9d6ff, #e2e2e2); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
